{% extends 'base.html.twig' %}

{% block title %}New SensorMeasurement{% endblock %}

{% block body %}
    <h1>Create new SensorMeasurement</h1>

    {{ include('sensor_measurement/_form.html.twig') }}

    <a href="{{ path('sensor_measurement_index') }}">back to list</a>
{% endblock %}
