{% extends 'base.html.twig' %}

{% block title %}New SensorAlerts{% endblock %}

{% block body %}
    <h1>Create new SensorAlerts</h1>

    {{ include('sensor_alerts/_form.html.twig') }}

    <a href="{{ path('sensor_alerts_index') }}">back to list</a>
{% endblock %}
